
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 80vw;
    font-family: 'Ubuntu', sans-serif;
}

.navbar{
    display: flex;
    height: 67px; 
}
.navbar li{
    list-style: none;
    margin: 0 12px;
}
.topleft{
    width: 50%;
    height: 50vh;
}
.topright{
    width: 50%;
    height: 50vh;
}
.section1{
    max-height: 100vh;
}
.section1 h1{
    font-size: 2rem;
}
.logo{
    font-size: 1.3rem;
}
.dumbellimg{
    width: 89px;
}
.topright .gymimg{
    width: 666px;
}
.section2{
    padding-left: 23px;
    padding-right: 23px;
}
.section2 h1{
    font-size: 2.5rem;
}
.section2 p{
    padding: 0 8vw;
    text-align: center;
}

.box{
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid black;
    text-align: center;
}
.box ul{
    list-style-type: none;
}
.box ul li{
    margin: 12px 2px;
}
.plantable{
    display: flex ;
    justify-content: center;
    align-items: center;
}

.section3 table{
    width: 34vw;
    margin-bottom: 40px 0;
    border-collapse: collapse;

}
.section3 table th{
     width: 23vw;
     border-bottom: 2px solid black;
}
.section3 table td{
      border-bottom: 2px solid black;
}

.section3 h1{
    font-size: 2.5rem;
}
.section3{
    padding-left: 23px;
    padding-right: 23px;
}

footer{
    padding: 23px;
    text-align: center;
}